/* CSS Document */

/* #FFFFCC = Light Yellow */
/* #B5E06A = Light Green for Footer Text */

.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	color: #FFFFCC;
	letter-spacing: 1pt;
}

.footer a:link {color: #B5E06A; text-decoration: underline;}
.footer a:active {color: #B5E06A; text-decoration: underline; }
.footer a:visited {color: #B5E06A; text-decoration: underline; }
.footer a:hover {color: #B5E06A; font-weight: bold;	text-decoration: none; }

/* Image Titles shift in color bars, down 13px and to the right 20px  */

.bodytext { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	color: #53721E;
	letter-spacing: 0pt;
	text-decoration: none;
} 

.revise { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	color: #FF0000;
	letter-spacing: 0pt;
	text-decoration: none;
	font-weight: bold;
} 


.bodytext a:link {font-size: 10px; color: #53721E; font-weight: bold; text-decoration: underline;}
.bodytext a:active {font-size: 10px; color: #53721E; font-weight: bold; text-decoration: underline;}
.bodytext a:visited {font-size: 10px; color: #53721E; font-weight: bold; text-decoration: underline;}
.bodytext a:hover {font-size: 10px; color: #333300; font-weight: bold; text-decoration: underline;}



.smallbodytext { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #53721E;
	letter-spacing: 0pt;
	text-decoration: none;
}

.bodytextbold { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #53721E;
	letter-spacing: 1pt;
	text-decoration: none;
	font-weight: bold;
} 

.BodyHeaders { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #53721E;
	letter-spacing: 0pt;
	text-decoration: underline;
	font-weight: bold;
}




.imgheaders { 
	border:0; 
	margin:13px 20px; 
} 

.backbut { 
	border:0; 
	margin:8px 10px; 
} 

/* Image Titles shift in color bars, down 0px and to the right 0px  */
.imgsubheads { 
	border:0; 
	margin:0px 5px; 
} 

.imgsections { 
	border:0; 
	margin:0px 20px; 
} 

.textmargin {
	padding:20px;
}


.brsmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	color: #333300;
	font-weight: normal;
}

.brsmalltext a:link {color: #333300; font-weight: bold; text-decoration: underline;}
.brsmalltext a:active {color: #333300; font-weight: bold; text-decoration: none;}
.brsmalltext a:visited {color: #333300; font-weight: bold; text-decoration: none;}
.brsmalltext a:hover {color: #53721E; font-weight: bold; text-decoration: none;}


